<div class="wrapper">
  <div class="container">
    <div class="row">
      <h1>Here are the details of <%= @task.name %></h1>
    </div>
    <p>Details: <%= @task.details %></p>
    <p>Created on the: <%= @task.created_at %></p>

    <%= link_to "Homepage", "/tasks/" %>

</div>
